@import url('./__logo/header__logo.css');
@import url('./__line/header__line.css');

.header {
    padding: 0 22%;
    max-width: 882px;
}

@media screen and (max-width: 480px) {
    .header {
        padding: 0;
        width: 100%;
    }
}