.profile__title {
    font-weight: 500;
    font-size: 2.625rem;
    line-height: 1.33;
    margin: 0;
}

@media screen and (max-width: 880px) {
    .profile__title {
        font-size: 2.125;
    }
}