.popup__save-button {
    width: 100%;
    border: none;
    background-color: black;
    border-radius: 2px;
    box-sizing: border-box;
    text-align: center;
    color: #ffffff;
    font-family: 'Inter', ‘Arial’, sans-serif;
    height: 50px;
    font-size: 1.125rem;
    line-height: 22px;
    transition: opacity .3s ease-in-out;
}

.popup__save-button:hover {
    opacity: 0.6;
}

.popup__save-button:focus {
    outline-style: none;
}